body {
    background-color: Black !important;
    color: pink
}

img {
    width: 10%;
}

h1 {
    text-align: center;

}

#headings {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    margin-left: 50px;
    width: 500px;
    
}


section {
    display:flex
}

#items {
    border: 1px solid grey;
}

#cart {
    border: 1px solid red;
}

